.userInteractionArea {
    display: flex;
    position: relative;
    align-items: self-start;
    justify-content: space-evenly;
}

/* Style for the user card container */
.accountCard {
    width: min-content;
    /* Positioning starts */
    top: 7em;
    right: 10%;
    position: fixed;
    /* Positioning ends */
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.accountCard:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Flex container for the user details */
.userData {
    color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}

/* Style for the user image */
.userImg {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
}

.userImg img {
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
}

/* Flex container for the user information */
.userInfo {
    flex: 1;
    position: relative;
}

/* Style for the user name and username */
.userUsername {
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
    font-family: 'Sometype Mono', monospace;
}

.userUsername h1 {
    font-size: 1.6em;
    font-family: 'Sometype Mono', monospace;
}

/* Style for user stats */
.userStats {
    margin: 1em auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.userStats p {
    font-weight: 100;
    font-size: 0.9em;
}

/* Style for the user Bio */
.userBio p {
    font-size: small;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {
    .accountCard {
        right: 5%;
    }
}

@media screen and (max-width: 768px) {
    .accountCard {
        display: none;
    }
}