* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 7em;
    overflow-x: hidden;
    background-color: #080710;
}

.editPostFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editPostForm { 
    width: 100%;
    padding: 20px;
    max-width: 48%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.editPostForm::before {
    content: "";
    width: 15em;
    height: 15em;
    right: 0;
    bottom: 0;
    top: -80px;
    z-index: -2;
    left: -80px;
    filter: blur(5px);
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#1845ad,#23a2f6);
}

.editPostForm::after {
    content: "";
    width: 12em;
    height: 12em;
    bottom: -80px;
    z-index: -2;
    right: -80px;
    border-radius: 50%;
    position: absolute;
    filter: blur(5px);
    backdrop-filter: blur(10px);
    background: linear-gradient(to right,#ff512f,#f09819);
}

.editPostFormContainer h1{
    font-weight: 400;
    margin:  0.5em auto 1em auto;
    text-align: center;
    font-family: sans-serif;
}

.editPostForm form{
    text-align: center;
}

.form-group {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    color: #fff;
    display: block;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    outline: none;
    color: black;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-input:focus {
    border: solid #007bff 1px;
    animation: glow 0.5s ease infinite alternate;
}

.form-group div {
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

.form-actions button {
    border: none;
    outline: none;
    color: black;
    padding: 0.8em 2em;
    border-radius: 0.4em;
    background-color: #fff;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.form-actions button:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 0.4em;
    background-color: #11b4ff;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    }
}

@media screen and (max-width: 768px) {
    .editPostForm {
        max-width: 90%;
    }
}