/* Import Google Fonts and global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

*{
    /* color: white; */
    font-family: 'Poppins', sans-serif;
}

/* Header styles */
.site-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    padding: 1.5em;
    position: fixed;
    align-items: center;
    background-color: #080710;
    opacity: 90%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #080710;
}

.site-header .logo a {
    font-size: 2em;
    color: #007bff;
    font-weight: medium;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.site-header .logo:hover a {
    transform: scale(1.02);
}

.site-header .main-nav ul {
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.site-header .main-nav ul li {
    margin-right: 20px;
}

.site-header .main-nav ul li:last-child {
    margin-right: 0;
}

.site-header .main-nav ul li button {
    cursor: pointer;
    font-size: 16px;
    color: #EDEAE0;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    background-color: #007bff;
}

.site-header #headerAddPostBtn {
    display: none;
}

.site-header .main-nav ul li a,
.site-header .main-nav ul li button {
    text-decoration: none;
    color: #EDEAE0;
    border: none;
    background-color: #007bff;
    border-radius: 0.2em;
    padding: 0.5em 1em;
}

.addPostIconBtn,
.loginIconBtn {
    display: none;
}

.site-header .main-nav ul li .logoutBtn{
    width: auto;
    padding: 0em;
}

.menu-button {
    display: none;
    cursor: pointer;
}

.menu-icon {
    font-size: 24px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .menu-button {
        display: none;
    }

    .main-nav .addPostTextBtn {
        display: none;
    }

    .main-nav .addPostIconBtn {
        display: initial;
    }

    .main-nav .loginTextBtn {
        display: none;
    }

    .main-nav .loginIconBtn {
        display: initial;
    }
}